@using Sistrategia.Drive.WebSite.Models
@model CloudStorageContainerDetailViewModel
@{
    ViewBag.Title = "Detail";
}

<ol class="breadcrumb">
  <li>@Html.ActionLink(LocalizedStrings.Account_IndexTitle, "Index", "Account")</li>
  <li>@Html.ActionLink(@LocalizedStrings.CloudStorageAccounts_IndexTitle, "Index", "CloudStorageAccount")</li>
  <li>@Html.ActionLink(Model.CloudStorageContainer.CloudStorageAccount.Alias, "Detail", "CloudStorageAccount", new  { id = Model.CloudStorageContainer.CloudStorageAccountId }, null)</li>
  <li class="active">@Model.CloudStorageContainer.Alias</li>
  @*<li class="active">Detail</li>*@
</ol>

@*<h1>@Guid.Parse(Model.CloudStorageContainer.ContainerName).ToString("D")</h1>*@
<h1>@Model.CloudStorageContainer.Alias</h1>

@*<h4>@LocalizedStrings.Account_IndexSubtitle</h4>*@
<hr />

@Html.ActionLink("Agregar", "AddCloudStorageAccount", "CloudStorageAccount", new { UserId = User.Identity.Name }, new { @class = "btn btn-default", @role = "button" })
@Html.ActionLink("Sincronizar", "Sync", "CloudStorageContainer", new { id = Model.CloudStorageContainer.PublicKey.ToString("N"), UserId = User.Identity.Name }, new { @class = "btn btn-default", @role = "button" })
<table class="table table-hover">
  @*<caption>Test caption</caption>*@
  <thead>
    <tr>
      <th>@LocalizedStrings.Name</th>
      <th>@LocalizedStrings.Modified</th>
      <th>@LocalizedStrings.Shared</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in @Model.CloudStorageContainer.CloudStorageItems.OrderBy(a => a.Name)) {
      <tr>
        <td>@Html.ActionLink(@item.Name, "Detail", "CloudStorageItem", new { Id = @item.PublicKey.ToString("N") }, null)</td>
        <td>@item.Name</td>
        <td>@item.Description</td>
      </tr>
    }
  </tbody>
</table>