@using Sistrategia.Drive.WebSite.Models
@model CloudStorageContainerListModel
@{
    ViewBag.Title = "Container";
}


<h1>@ViewBag.Title</h1>
@*<h4>@LocalizedStrings.Home_IndexSubtitle</h4>*@
<hr />



<h2>Items</h2>
<hr />
<div class="row">
  <div class="col-md-12">
    @*<a href="~/Home/Upload" class="btn btn-primary" role="button">Cargar</a>*@
    @Html.ActionLink("Cargar", "AddCloudStorageItem", User.Identity.Name, new { @class = "btn btn-primary", @role = "button" })
    <table class="table table-hover">
      @*<caption>Test caption</caption>*@
      <thead>
        <tr>
          <th>@LocalizedStrings.Name</th>
          <th>@LocalizedStrings.Modified</th>
          <th>@LocalizedStrings.Shared</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model.CloudStorageItems) {
          <tr>
            <td><a href="@item.Url">@item.Name</a></td>
            <td>@item.Modified.ToString()</td>
            <td>@item.ContentMD5</td>
          </tr>
        }
      </tbody>
    </table>

  </div>
</div>

