@using Sistrategia.Drive.WebSite.Areas.Backstage.Models
@model Sistrategia.Drive.Business.SecurityUser
@{
  ViewBag.Title = "Edit User"; // UserDeleteViewModel
}

<div class="page-header clearfix">
  <div class="pull-left">
    <h1>@ViewBag.Title <small>Backstage</small></h1>
    @*<h4>Are you sure that you want to delete this user?</h4>*@
  </div>
  @*<div class="pull-right">
    <div class="btn-group" style="bottom: 26px;position: relative;top:26px;">
      @Html.ActionLink("Editar", "Edit", null, new { @class = "btn btn-primary", @role = "button" })
    </div> autofocus
  </div>*@
</div>

@using (Html.BeginForm("Edit", "User", new { id = Model.PublicKey.ToString("N") }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
  @Html.AntiForgeryToken()

@Html.ValidationSummary("", new { @class = "text-danger" })

@Html.HiddenFor(m => m.PublicKey)

  <div class="form-group">
    @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
      @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @autofocus = "autofocus" })
    </div>
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
      @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
  </div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" class="btn btn-default" value="@LocalizedStrings.SaveButton" />
    </div>
  </div>

@*<div class="form-group">
    @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
      <span class="form-control">
        @Html.ValueFor(m => m.FullName)
      </span>
    </div>
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
      @Html.DisplayFor(m => m.Email, new { @class = "form-control" })
    </div>
  </div>*@

}
