@using Sistrategia.Drive.WebSite.Models
@model HomeIndexViewModel
@{
  ViewBag.Title = LocalizedStrings.Home;
}


<h1>@ViewBag.Title</h1>
<h4>@LocalizedStrings.Home_IndexSubtitle</h4>
<hr />

<div class="row">
  <div class="col-md-2">
    <div class="list-group">
      <a href="#Documents" class="list-group-item active">
        <span class="glyphicon glyphicon-file"></span> @LocalizedStrings.Documents @*<span class="badge">145</span>*@
      </a>
      <a href="#Pictures" class="list-group-item">
        <span class="glyphicon glyphicon-camera"></span> @LocalizedStrings.Pictures @*<span class="badge">25</span>*@
      </a>
      <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-music"></span> @LocalizedStrings.Music @*<span class="badge">50</span>*@
      </a>
      <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> @LocalizedStrings.Videos @*<span class="badge">8</span>*@
      </a>
    </div>
  </div>
  <div class="col-md-10">
    @*<a href="~/Home/Upload" class="btn btn-primary" role="button">Cargar</a>*@
    @Html.ActionLink("Cargar", "AddDocument", User.Identity.Name, new { @class = "btn btn-primary", @role = "button" } )
    <table class="table table-hover">
      @*<caption>Test caption</caption>*@
     <thead>
       <tr>
         <th>@LocalizedStrings.Name</th>
         <th>@LocalizedStrings.Modified</th>
         <th>@LocalizedStrings.Shared</th>
       </tr>
     </thead>
      <tbody>
        @foreach (var item in Model.RecentItems) { 
        <tr>
          <td><a href="@item.Url">@item.Name</a></td>
          <td>@item.Modified.ToString()</td>
          <td>@item.ContentMD5</td>
        </tr>
        }
      </tbody>
    </table>

  </div>
</div>