@using Sistrategia.Drive.WebSite.Models
@model CloudStorageAccountCreateViewModel
@{
  ViewBag.Title = @LocalizedStrings.CloudStorageAccount_CreateTitle;
}

<ol class="breadcrumb">
  <li>@Html.ActionLink(LocalizedStrings.Account_IndexTitle, "Index", "Account")</li>
  <li>@Html.ActionLink(@LocalizedStrings.CloudStorageAccounts_IndexTitle, "Index", "CloudStorageAccount")</li>
  @*<li class="active">@LocalizedStrings.DetailView_Title</li>*@
  <li class="active">Agregar</li>
</ol>

<h1>@ViewBag.Title</h1>
<h4>@LocalizedStrings.CloudStorageAccount_CreateSubtitle</h4>
<hr />

<div class="row">
  <div class="col-md-8">
    @using (Html.BeginForm("Create", "CloudStorageAccount", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
      @Html.AntiForgeryToken()
      
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })

      <div class="form-group">
        @Html.LabelFor(m => m.CloudStorageProviders, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
          @Html.DropDownListFor(m => m.CloudStorageProviderId,
          new SelectList(Model.CloudStorageProviders, "CloudStorageProviderId", "Name"),
        new { @class = "form-control", @id = "sel1", @required = "required" })
        </div>
        </div>

    <div class="form-group">
      @Html.LabelFor(m => m.AccountName, new { @class = "col-md-3 control-label" })
      <div class="col-md-9">
        @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AccountName, "", new { @class = "text-danger" })
      </div>
    </div>

  <div class="form-group">
    @Html.LabelFor(m => m.AccountKey, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
      @Html.TextBoxFor(m => m.AccountKey, new { @class = "form-control" })
      @Html.ValidationMessageFor(m => m.AccountKey, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(m => m.Alias, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
      @Html.TextBoxFor(m => m.Alias, new { @class = "form-control" })
      @Html.ValidationMessageFor(m => m.Alias, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
      @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
      @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-3 col-md-9">
      <input type="submit" value="@LocalizedStrings.SaveButton" class="btn btn-default" />
    </div>
  </div>

    }
  </div>
  <div class="col-md-4">
  </div>
</div>
