@using Sistrategia.Drive.WebSite.Models
@model DevIndexViewModel

<h1>@Model.Title</h1>


  <dl class="dl-horizontal">
  <dt>CurrentUICulture:</dt>
  <dd>@Model.CurrentUICulture.Name</dd>
  @*<dd>@System.Threading.Thread.CurrentThread.CurrentUICulture.DisplayName</dd>*@

  <dt>CurrentCulture:</dt>
  <dd>@Model.CurrentCulture.Name</dd>

  <dt>AcceptLanguage:</dt>
  <dd>@Model.AcceptLanguage</dd>

</dl>


