@using Sistrategia.Drive.WebSite.Models
@model DevIndexViewModel
@{
  ViewBag.Title = Model.Title;
}

<h1 class="page-header">@Model.Title</h1>
<h2>Database actions</h2>
<div class="form-group">
  <a class="btn btn-danger" role="button" href="~/Dev/CreateDatabase">Create Database</a>
  <a class="btn btn-danger" role="button" href="~/Dev/CreateSchema">Create Schema</a>
  @*<a class="btn btn-danger" role="button" href="~/Dev/DropSchema">Drop Schema</a>*@
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#dropSchemaConfirmation">
    Drop Schema
  </button>
</div>
<dl class="dl-horizontal">
  <dt>CurrentUICulture:</dt>
  <dd>@Model.CurrentUICulture.Name</dd>
  @*<dd>@System.Threading.Thread.CurrentThread.CurrentUICulture.DisplayName</dd>*@

  <dt>CurrentCulture:</dt>
  <dd>@Model.CurrentCulture.Name</dd>

  <dt>AcceptLanguage:</dt>
  <dd>@Model.AcceptLanguage</dd>
</dl>

<br />
<br />

<div class="modal fade" id="dropSchemaConfirmation" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Drop Schema</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        @*<button type="button" class="btn btn-danger">Drop Schema</button>*@
        <a class="btn btn-danger" role="button" href="~/Dev/DropSchema">Drop Schema</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
