@using Sistrategia.Drive.WebSite.Areas.Dev.Models
@model CloudStorageItemDetailsViewModel
@{
  ViewBag.Title = "Details";
}

<h2>@Model.CloudStorageItem.Name</h2>

<div>
  @if (Model.IsImage) {
    <img src="@Model.Url" style="max-width:720px;max-height:720px;" />
  }
  else {
    @*<p>For download click <a download='@Model.CloudStorageItem.FileName' href="@Model.Url">here.</a></p>*@
    <p>For download click <a download="Test.docx" href="@Model.Url">here.</a></p>
  }
</div>

